<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Api rick and morty</title>
</head>
<body>
   <header class ="header">

      <div class="header__icon-menu"></div>
      
      <div class="header__logo"></div>
      
      <!-- <div class="header__menu">
         <nav class= "menu">
            <ul>
               <li class="menu__options">
                  <a href="#/home">Home</a>
               </li>
               <li class="menu__options">
                  <a href="#/personajes">Personajes</a>
               </li>
               <li class="menu__options">
                  <a href="#/juegos">Juegos</a>
               </li>
            </ul>
         </nav>
      </div> -->

   </header>
</body>
</html>