<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Api rick and morty</title>
</head>
<body>
   <header class ="header">

      <div class="header__icon-menu icon"></div>
      
      <div class="header__logo"></div>
      
      <div class="header__menu">
         <nav class= "menu">
            <ul>
               <li class="menu__options">
                  <a href="#/home">Home</a>
               </li>
               <li class="menu__options">
                  <a href="#/personajes">Personajes</a>
               </li>
               <li class="menu__options">
                  <a href="#/juegos">Juegos</a>
               </li>
            </ul>
         </nav>
      </div>

   </header>

   <main class="app">

      <div class="cSearch">
         <button class="cSearch__buttonSend" ></button>
         <input type="search" class="cSearch__search" id ="buscador" placeholder="Buscar">
      </div>

      <div class="cOptionsBar">
            <div class="cOptionsBar__right">
               <div class="cOptionButton">Filtar</div>
               <div class="cOptionButton">Ordenar</div>
               <div class="cOptionsBar__lifeBar">
                  <div class="lifeBar">
                     <div class="containerLife  containerLife--alive "></div>
                     <div class="containerLife  containerLife--dead hideContainerLife"></div>
                     <div class="containerLife  containerLife--unknown hideContainerLife"></div>
                  </div>
               </div>
            </div>
      </div>

      <div class="cCharacterCard">
         
         <div class="cCharacterCard__id">
            <p>1</p>
         </div>

         <img class="cCharacterCard__img" src="https://rickandmortyapi.com/api/character/avatar/322.jpeg" alt="">
         
         <div class="cCharacterCard__txt">
            <div class="txt__name">Morphizer-XE Customer Support</div>
            <div class="txt__status txt__status--alive"></div>
         </div>

         <div class="cCharacterCard__info">
            
            <div class="info">

               <div class="info__description">
                  <div class="gender"></div>
                  <div class="species"></div>
               </div>               
            </div>

            <svg class="info__svg" width="106" height="38" viewBox="0 0 106 38" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M105 1H55.2789H10.568L1 14V37H93.3984L105 26.2414V1Z" stroke="white"/>
            </svg>
            
         </div>

      </div>

      <!-- <div class="cInfoCharacter">
         <div class="infoContenido">
            <div class="infoContenido__title">MORTY SMITH</div>
            <img class="infoContenido__img" src="https://rickandmortyapi.com/api/character/avatar/8.jpeg" alt="">
            <div class="infoContenido__info">
               <div class="info__text">Status:</div>
               <div class="info__text">Status:</div>
               <div class="info__text">Status:</div>
               <div class="info__text">Status:</div>
            </div>
         </div>
    -->
      </div>

   </main>


   <footer class="footer">
   </footer>
</body>
</html>