$base-background: #1F252B;
$second-blue: #191C1F;
$third-blue: #22292F;
$color-line: #1BBCA9;
$color-dead: #F83745;
$color-live: #34DA76;
$color-unknown: #C8DEE9;
$color-on-post: rgba(112, 116, 117, 0.1);

@mixin centerObject{
   display: flex;
   align-items: center;
}
@mixin setImage{
   background-size: contain;
   background-repeat:no-repeat ;
   background-position: center;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header{
   @include centerObject;
   flex-direction: row;
   width: 100%;
   height: 70px;
   padding: 0 20px;
   background: linear-gradient(180deg, #56C032 0%, #98EE53 50%); 

   &__icon-menu{
      background-image: url("../assets/img/header__icon-menu.svg");
      @include setImage;
      margin-right: 10px;
   }

   &__logo{
      width: 224px;
      height: 55px;
      background-image: url("../assets/img/header__logo.png");
      @include setImage;
      margin: 0 auto;
   }

   &__menu{
      width: 40%;
   }
}

.menu{
   
   & ul{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
   }
}

.app{
   background: $base-background;
   height: 100vh;
   @include centerObject;
   flex-direction: column;
   
   .cSearch{
      @include centerObject;
      margin-top: 15px;
      border-radius: 5px 0 ;
      background: white;
      width: 254px;
      height: 32px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      
      &__buttonSend{
         @include setImage;
         width: 32px;
         height: 28px;
         background-color: white;
         background-image: url("../assets/img/icon__buscar.svg");
         border: none;
         margin-left: 10px;
         cursor: pointer;
         outline: none;
      }
      
      &__search{
         width: 205px;
         margin-left: 5px;
         border: none;
         padding: 5px 10px;
         outline: none;
      }
      
      
      
   }
   
   .cOptionsBar{  
      @include centerObject;
      margin-top: 15px;
      height: 50px;
      background: $second-blue;
      width: 100%;


      &__right{
         width: 100%;
         @include centerObject;
      }
      .cOptionButton{
         border-right: white 1px solid;
         height: 50px;
      }

      &__lifeBar{ 
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 15px;
         height: 50px;
         

         .lifeBar{
            @include centerObject;
            width: 76px;
            height: 18px;

            .containerLife{
               width: 20px;
               height: 18px;
               transform: skew(150deg);
               background-color: $color-on-post;
               cursor: pointer;
   
               &--live{
               background: $color-live;
               margin-right: 8px;
               }
   
               &--dead{
                  background: $color-dead;
                  margin-right: 8px;
   
               }
   
               &--unknown{
                  background: $color-unknown;
               }
            }
            

            
         }

      }

      
   }
}

.footer{
   width: 100%;
   height: 40px;
   background: #56C032;
}






.icon{
   width: 28px;
   height: 28px;
}


a{
   font-size: 20px;
   text-decoration: none;
   color: black;
}

.hidden{
   display: none;
}

.cOptionButton{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 200px;
   font-size: 14px;
   font-weight: 700;
   text-align: center;
   color: white;
   background: $second-blue;

   &:hover::after{
      content: "";
      position: absolute ;
      bottom: 7px;
      text-align: center;
      border-bottom: $color-line 2px solid;
      width: 32px;
   }

}



.cOptionButton--selected{
   background: $third-blue;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

   &::after{
   content: "";
   position: absolute ;
   bottom: 7px;
   text-align: center;
   border-bottom: $color-line 2px solid;
   width: 64px;
   }

   &:hover::after{
      content: "";
      position: absolute ;
      bottom: 7px;
      text-align: center;
      border-bottom: $color-line 2px solid;
      width: 64px;
      }
}

.hideContainerLife{
   mix-blend-mode: overlay;
}


@media (min-width:375px){
   .app{
         .cSearch{
            width: 280px;
         }
      }
}
   


@media (min-width:768px){
   .app{
      
      .cOptionsBar{
         
         justify-content: space-between;
         padding: 0 25px;
         .cSearch{
            margin-top: 0;
         }
         
         &__right{
            max-width: 386px;
            .cOptionButton{
               max-width: 140px;
            }
         }
      }
   }
   
}
