.cCharacters {
  width: 100%;
  @include centerObject;
  flex-direction: column;
  padding: 30px 0;

  &__characters {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    align-items: center;
    justify-content: center;
    gap: 25px;

    .cCharacterCard {
      cursor: pointer;
      @include centerObject;
      justify-content: center;
      flex-direction: column;
      clip-path: polygon(
        0 0,
        93.84% 0,
        100% 4.84%,
        100% 100%,
        6.16% 100%,
        0 95.15%
      );
      overflow: hidden;
      position: relative;

      .cCharacterCard__id {
        position: absolute;
        width: 42px;
        height: 42px;
        top: 2px;
        right: 3px;
        @include centerObject;
        justify-content: center;
        background: rgba(34, 41, 47, 0.8);
        color: white;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      }

      &__img {
        width: 100%;
        height: 280px;
      }

      &__txt {
        height: 50px;
        padding: 5px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        background: $second-blue;
        text-align: center;

        .txt__name {
          color: white;
          font-size: 16px;
          margin: 0 auto;
        }

        .txt__status {
          height: 4px;

          &--dead {
            width: 50px;
            background: $color-dead;
          }

          &--alive {
            width: 100px;
            background-color: $color-alive;
          }

          &--unknown {
            width: 80px;
            background-color: gray;
          }
        }
      }

      &__info {
        position: absolute;
        bottom: 60px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .info {
          position: relative;

          &__description {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 53px;
            height: 32px;
            padding: 0 15px;
            background: rgba(34, 41, 47, 0.8);

            .gender {
              @include iconInfo;
            }
          }

          &__svg {
            position: absolute;
          }
        }
      }
    }
  }

  .pageNumbering {
    @include centerObject;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;

    &__index {
      @include centerObject;
      flex-direction: row;
      color: white;
      text-align: center;

      .indexNumber {
        cursor: pointer;
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 5px;
        width: 30px;
        margin: 0 5px;
        border-radius: 5px;
        &__selected {
          background: $color-bottom-hover;
        }
        &:hover {
          background: $color-bottom-normal;
        }
      }

      .space {
        margin: 0 10px;
      }

      .arrow {
        cursor: pointer;
        &:hover {
          color: $color-line;
        }
      }
    }
  }

  .charactersNotFound {
    width: 90%;
    height: 210px;
    background-image: url("../assets/img/charactersNotFound.png");
    margin-top: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
  }

  .cCharacterInfo {
    z-index: 5;
    position: fixed;
    inset: 0 0 0 0;
    background: rgba(25, 28, 31, 0.8);
    @include centerObject;
    justify-content: center;

    .cInfoContainer {
      @include centerObject;
      flex-direction: column;
      min-width: 300px;
      background: $base-background;
      padding: 12px 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &__contents {
        @include centerObject;
        flex-direction: column;
        width: 100%;
        padding-bottom: 15px;
        border: solid 1px white;
        position: relative;

        .contents__title {
          position: absolute;
          top: -10px;
          color: white;
          width: 78%;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          font-size: 14px;
          padding: 5px 20px;
          background-color: $base-background;
        }

        .contents__img {
          @include setImage;
          width: 210px;
          height: 210px;
          margin-top: 30px;
          border-radius: 0 30px;
        }

        .contents__info {
          @include centerObject;
          flex-direction: column;
          justify-content: center;
          margin-top: 15px;

          .info__text {
            width: 230px;
            padding: 5px 2px;
            color: white;
            font-size: 14px;
            text-align: center;
            background: $second-blue;

            &:first-child {
              border-radius: 4px 4px 0 0;
            }

            &:hover {
              background: #69d200;
            }
          }
          .cOptionButton {
            width: 100%;
            border-radius: 0 0 4px 4px;

            &__title {
              height: 35px;
              font-size: 14px;
              padding: 10px;
              font-weight: normal;
              border-radius: 0 0 4px 4px;

              &:hover::after {
                bottom: 3px;
              }
              &--selected {
                &::after {
                  bottom: 3px;
                }
              }
            }

            &__container {
              top: 35px;
              height: 150px;
              overflow: auto;
              &::-webkit-scrollbar {
                width: 10px;
              }
              &::-webkit-scrollbar-track {
                background: #272d32;
              }
              &::-webkit-scrollbar-thumb {
                background: #888;
              }
              &::-webkit-scrollbar-thumb:hover {
                background: #555;
              }
              .options {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 375px) {
  .app {
    .cCharacters {
      .charactersNotFound {
        height: 240px;
      }
    }
  }
}

@media (min-width: 768px) {
  .app {
    .cCharacters {
      &__characters {
        grid-template-columns: repeat(auto-fit, 230px);
        gap: 20px;
        .cCharacterCard {
          margin-top: 0;

          &__img {
            height: 260px;
          }
        }
      }

      .charactersNotFound {
        height: 500px;
      }

      .cCharacterInfo {
        .cInfoContainer {
          padding: 15px 21px;
          width: 556px;
          &__contents {
            flex-direction: row;
            justify-content: space-around;
            padding: 15px;
            .contents__title {
              max-width: 300px;
              font-weight: bold;
            }
            .contents__img {
              width: 210px;
              height: 210px;
              margin-top: 0;
            }
            .contents__info {
              .info__text {
                font-size: 14px;
                font-weight: normal;
              }
            }
          }
        }
      }

      .pageNumbering {
        gap: 20px;
      }
    }

    .notFound {
      width: 70%;
      height: 450px;
    }
  }
}

@media (min-width: 1240px) {
  .app {
    .cCharacters {
      max-width: 1300px ;
         
      .charactersNotFound {
        height: 600px;
      }
    }
  }
}

